<div class="w-full">
  <div class="flex justify-between items-center sm:flex-row flex-col">
    <h1 class="font-bold text-4xl mb-4">Latest Questions</h1>
    <%= link_to 'Ask a question', new_question_path, class: "rounded-lg py-2 px-4 bg-blue-600 text-white block font-medium" %>
  </div>

  <hr class="my-4">

  <div id="questions" class="min-w-full">
    <%= render @questions %>
  </div>
</div>
